* {
    -fx-font-family: "Arial", "Verdana", "System", sans-serif;
}

#mainPane, #mainMenuPane, #contentPane {
    -fx-alignment: top-left;
}

#mainPane {
    -fx-background-color: #e9e7e7;
    -fx-pref-width: 1024px;
    -fx-pref-height: 650px;
}

/*  Left Main menu Styles */
#mainMenuPane {
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 184px;
    -fx-pref-height: 650px;
}

#leftMenuButton, #logoutButton ,#leftMenuLogoutButtonPaneGroup {
    -fx-border-color: transparent;
    -fx-background-color: #000000;
    -fx-text-fill:transparent;
    -fx-padding: 0;
}

#leftMenuButton{
    -fx-pref-width: 15px;
    -fx-pref-height: 12px;

}

.leftMenuLabelText {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 0 10px;
}

#leftMenuLogoutButtonPaneGroup {
    -fx-pref-width: 184px;
    -fx-pref-height: 582px
}

.logoBottom {
    -fx-translate-x: 70px;
    -fx-translate-y: 619px;
    -fx-pref-width: 83px;
    -fx-pref-height: 21px;
}
.loginLogoBottom {
    -fx-start-margin: 100px;
    -fx-pref-width: 83px;
    -fx-pref-height: 21px;
    -fx-padding: 0 0 200 0;
}

/*//////////////MENU BUTTONS//////////////////////////////////////*/
.saleButton, .userButton, .productButton, .categoryButton, .logoutButton, .bartableButton {
    -fx-pref-width: 146px;
    -fx-pref-height: 77px;
    -fx-background-color: #000000;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-translate-x: 38px;
}

.logoutButton {
    -fx-background-image: url("images/logoutIcon.png");
    -fx-pref-width: 30px;
    -fx-pref-height: 40px;
    -fx-translate-x: 145px;
    -fx-translate-y: 16px;
}

/*Sale Button */
.saleButton, .saleButton:selected{
    -fx-translate-y: 130px;
}
.saleButton{
    -fx-background-image: url("images/salesUnactive.png");
}
.saleButton:selected {
    -fx-background-color: #e9e7e7;
    -fx-background-image: url("images/salesActive.png");
}

/*Employee Button*/
.userButton, .userButton:selected{
    -fx-translate-y: 229px; /* 20px difference from prev button end */
}
.userButton{
    -fx-background-image: url("images/userUnactive.png");
}
.userButton:selected{
    -fx-background-color: #e9e7e7;
    -fx-background-image: url("images/userActive.png");
}

/*Product Button*/
.productButton, .productButton:selected{
    -fx-translate-y: 326px; /* 20px difference from prev button end */
}

.productButton{
    -fx-background-image: url("images/productUnactive.png");
}
.productButton:selected{
    -fx-background-color: #e9e7e7;
    -fx-background-image: url("images/productActive.png");
}

/*Category Button*/
.categoryButton, .categoryButton:selected{
    -fx-translate-y: 423px; /* 20px difference from prev button end */
}
.categoryButton{
    -fx-background-image: url("images/categorieUnactive.png");
}
.categoryButton:selected{
    -fx-background-color: #e9e7e7;
    -fx-background-image: url("images/categorieActive.png");
}
/*Table Button*/
.bartableButton, .bartableButton:selected{
    -fx-translate-y: 423px; /* 20px difference from prev button end */
}
.bartableButton{
    -fx-background-image: url("images/tableUnactive.png");
}
.bartableButton:selected{
    -fx-background-color: #e9e7e7;
    -fx-background-image: url("images/tableActive.png");
}



/* Content Styles */

#contentPane {
    -fx-pref-width: 840px;
    -fx-pref-height: 650px;
}

#topAnchorPaneNavigation{
    -fx-background-color: #8aab17;
    -fx-alignment: top-left;
    -fx-pref-width: 840px;
    -fx-pref-height: 60px;
    -fx-padding: 8 0 0 40 px;
}
/*//////////////////////////////////////////////*/
 /*Search Area*/
.searchField{
    -fx-pref-width: 400px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0px;
}
.comboBox, .searchButton{
    -fx-background-color: #ffffff;
    -fx-pref-width: 120px;
    -fx-pref-height: 28px;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.comboBox .context-menu{
    -fx-background-color: red;
}
.searchButton{
    -fx-text-alignment: center;
    -fx-pref-width: 100px;

}
/*/////////////////////////////////////////////////*/

.contentBox{
    -fx-alignment: top-left;
    -fx-pref-width: 840px;
    -fx-pref-height: 590px;
}

#contentHeadingPane{
    -fx-alignment: top-left;
    -fx-pref-height: 170px;
    -fx-pref-width: 430px;

}

#titleVBox{
    -fx-alignment: top-left;
    -fx-pref-height: 180px;
    -fx-pref-width: 600px;
    -fx-text-fill: #000000;
    -fx-font-size: 25px;
    -fx-text-alignment: left;
    -fx-padding: 60 0 0 60px;
    -fx-spacing: 25px;

}

#titleVBoxSmallText {
    -fx-font-size: 14px;
}

#addButtonPane{
    -fx-alignment: top-right;
    -fx-pref-height: 180px;
    -fx-pref-width: 220px;
}

.addButton{
    -fx-text-alignment: center;
    -fx-pref-width: 140px;
    -fx-pref-height: 38px;
    -fx-background-color: #000000;
    -fx-text-fill: #e9e7e7;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-translate-y: 70px;
    -fx-translate-x: 55px;
}


#tableViewPane{
    -fx-alignment: top-left;
    -fx-pref-height: 370px;
    -fx-pref-width: 830px;
    -fx-padding: 30px;
}


.contentTable {
    -fx-alignment: top-left;
    -fx-pref-height: 370px;
    -fx-pref-width: 790px;
    -fx-background-color: transparent;
    -fx-translate-x: 30px;
    -fx-table-cell-border-color: transparent;
}

.contentTable .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}

.contentTable .column-header-background{
    -fx-background-color: transparent;
}

.contentTable .column-header-background .label{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-padding: 0px;
    -fx-font-size: 11px;
}

.contentTable .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5px 0;
}

.contentTable :focused{
    -fx-table-cell-border-color: transparent;
}

.contentTable :odd{
    -fx-background-color: transparent;
}

.contentTable :even{
    -fx-background-color: #d9d5d5;
}

.contentTable :empty {
    -fx-background-color: transparent;
}


/*.contentTable .column-header#contentTable .label {*/
    /*-fx-alignment: CENTER_RIGHT;*/
    /*-fx-text-fill: red;*/
/*}*/


.editColumn {
    -fx-background-color: transparent;
    -fx-alignment: center;
   /*-fx-pref-width: 80px;*/
    /*-fx-min-width: 80px;*/
    /*-fx-max-width: 80px;*/
    -fx-padding: 5px;
    /*-fx-border-color: orange;*/
 }

.contentColumn {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-font-weight: bold;
    /*-fx-font-size: 18px;*/
    /*-fx-pref-width: 570px;*/
    /*-fx-min-width: 570px;*/
    /*-fx-max-width: 570px;*/
    -fx-padding: 5px;
    /*-fx-border-color: darkviolet;*/
}

.deleteColumn {
    -fx-background-color: transparent;
    -fx-alignment: center;
    /*-fx-pref-width: 90px;*/
    /*-fx-min-width: 90px;*/
    /*-fx-max-width: 90px;*/
    -fx-padding: 5px;
    /*-fx-border-color: red;*/
}

.editDialogBox{
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: #8aab17;
    -fx-alignment: center;
    -fx-font-size: 14;
}
.editDialogBoxGridPane{
    -fx-font-size: 12px;
}
.okDialogButton, .okButtonInvoice{
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-border-width: 2;
    -fx-background-color: #8aab17;
    -fx-text-fill: white;
}
.okButtonInvoice{
    -fx-pref-width: 89;
}
.cancelDialogButton{
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.deleteButton{
    -fx-background-color: #b00c2f;
    -fx-background-radius: 0px;
    /*-fx-pref-width: 95px;*/
    /*-fx-pref-height: 36px;*/
    -fx-text-alignment: center;
    -fx-text-fill: #d9d5d5;
    -fx-font-size: 12px;

}

.editButton{
    -fx-background-color: #8aab17;
    -fx-background-radius: 0px;
    /*-fx-pref-width: 50px;*/
    /*-fx-pref-height: 36px;*/
    -fx-text-alignment: center;
    -fx-text-fill: #e9e7e7;
    -fx-font-size: 12px;
}

.deleteAlert {
    -fx-background-color: orange;
    -fx-padding: 0;
}

.chart {

}

.chart-content {
    -fx-padding: 20px;
}

.chart-title {
    -fx-text-alignment: center;
    -fx-font-size: 14px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.applyFiltersButton {
    -fx-pref-width: 101;
    -fx-pref-height: 46;
    -fx-border-width: 0;
    -fx-translate-x: 11px;
    -fx-background-color: #8aab17;
    -fx-text-fill: white;
}

.orderStatusComboBox, .filterComboBox, .startDate, .endDate {
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.invoiceScrollPane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

#invoiceVBoxStyle {
    -fx-padding: 30px 10px 20px 10px;
    -fx-spacing: 0px;
    -fx-background-color: white;
    -fx-font-size: 13px;
    -fx-text-alignment: left;
    -fx-max-width: 155px;
    -fx-min-width: 155px;
    -fx-pref-width: 155px;
}
