* {
    -fx-font-family: System, Arial, Verdana sans-serif;
}

#mainPane, #mainMenuPane, #contentPane {
    -fx-alignment: top-left;
}

#mainPane {
    -fx-background-image: url("images/mainBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 1024px;
    -fx-pref-height: 650px;
}

/*  Left Main menu Styles */
#mainMenuPane {
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 184px;
    -fx-pref-height: 650px;
}

#leftMenuButton, #logoutButton ,#leftMenuLogoutButtonPaneGroup {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill:transparent;
    -fx-padding: 0;
}

#leftMenuButton{
    -fx-pref-width: 145px;
    -fx-pref-height: 112px;

}

#logoutButton {
    -fx-padding: 25 0 0 153 px;
    -fx-pref-width: 22px;
    -fx-pref-height: 29px;
}

#leftMenuLabelText {
    -fx-padding: 30 0 0 10;
}

#leftMenuLogoutButtonPaneGroup {
    -fx-pref-width: 184px;
    -fx-pref-height: 352px
}

.logoBottom {
    -fx-start-margin: 200px;
    -fx-pref-width: 83px;
    -fx-pref-height: 21px;
}
.loginLogoBottom {
    -fx-start-margin: 100px;
    -fx-pref-width: 83px;
    -fx-pref-height: 21px;
    -fx-padding: 0 0 200 0;
}

/* Content Styles */

#contentPane {
    -fx-pref-width: 840px;
    -fx-pref-height: 650px;
}

/* Top Navigation / Search Pane */
#topHboxNavigation {
    -fx-background-color: rgb(233, 231, 231);
    -fx-alignment: top-left;
    -fx-pref-width: 840px;
    -fx-pref-height: 41px;
}

#topAnchorPaneNavigation, #selectedTableAnchorPane, #topHBoxNavigation, #selectedTableHbox {
    -fx-alignment: top-left;
    -fx-pref-width: 650px;
    -fx-pref-height: 35px;
    -fx-padding: 8 0 0 40 px;
}

#selectedTableAnchorPane, #selectedTableHbox{
    -fx-pref-width: 150px;
    -fx-padding: 8 0 0 0px;
}


#topHBoxNavigation {
}

.topNavigationHyperlink, .topNavigationTextSeparator {

    -fx-text-fill: #000000;
}
.topNavigationHyperlink {
    -fx-font: 13px bolder;
    -fx-padding: 6 5 0 5 px;
}
.topNavigationTextSeparator {
    -fx-font: 18px bolder;
    -fx-padding: 2 0 0 0 px;
}

#selectedTableHbox{
    -fx-font-style: italic;
    -fx-font-weight: bolder;
}
#selectedTableText{
    -fx-font-size: 12px;
    -fx-text-fill: #8aab17;
    -fx-padding: 12 0 0 12px;
}

#selectedTableNumber{
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 0 10px;
    -fx-text-alignment: center;
}

/* Central Content Container */
#centralContentPane {
    -fx-alignment: top-left;
    -fx-pref-width: 505px;
}

#mainButtonGrid {
    -fx-pref-width: 495px;
    -fx-pref-height: 541px;
    /*-fx-border-style: solid inside;*/
    /*-fx-border-width: 4px;*/
    /*-fx-border-insets: 5;*/
    /*-fx-border-color: blue;*/
}
#scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}


/* Right Content Container */
#rightContentPane{
    -fx-background-color: rgb(233, 231, 231);
    -fx-alignment: top-left;
    -fx-pref-width: 337px;
    -fx-pref-height: 697px;
}

.table-view {
    -fx-pref-height: 270px;
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.itemQuantityPane, .itemQuantityHBox {
    -fx-background-color: #8aab17;
    -fx-font-size: 14px;
    -fx-pref-width: 335px;
    -fx-pref-height: 48px;
}
.itemQuantityHBox {
    -fx-padding: 12 5 0 5;
}
.itemQuantityButton {
    -fx-background-color: #7f9e14;
    -fx-pref-width: 40px;
    -fx-pref-height: 20px;
    -fx-padding: -7 0 -3 0;
    -fx-text-alignment: CENTER;
    -fx-font-size: 24px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;

}

.itemQuantityButton:pressed {
    -fx-background-color: #647c10;
    -fx-pref-width: 40px;
    -fx-pref-height: 20px;
    -fx-padding: -7 0 -3 0;
    -fx-text-alignment: CENTER;
    -fx-font-size: 24px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: white;

}

#itemDecrementButton {
    -fx-font-weight: bold;
}
.productLabel, .numberLabel {
    -fx-pref-width: 100px;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 5 0 0 0px;
}
.numberLabel {
    -fx-pref-width: 60px;
}
.quantityLabel {
    -fx-font-size: 20px;
    -fx-pref-width: 50px;
    -fx-text-fill: white;
    -fx-padding: 0 5 0 5;
}

#cartScrollHbox{
    -fx-pref-width: 337px;
    -fx-pref-height: 54px;
    -fx-spacing: 100px;
    -fx-padding: 10 0 10 80px;
    -fx-alignment: top-left;

}

.cartScrollButton{
    -fx-background-color: #8aab17;
    -fx-background-radius: 5px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-rotate: -90;
}

.cartScrollButton:pressed {
    -fx-background-color: #60770f;
    -fx-background-radius: 5px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-rotate: -90;
}

#cartSummaryHbox{
    -fx-pref-width: 337px;
    -fx-pref-height: 53px;
}

#cartSummaryVboxTotal{
    -fx-pref-width: 185px;
    -fx-pref-height: 53px;
    -fx-padding: 0 0 0 19px;
}

#cartHBoxItems, #cartHBoxTotals{
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
    -fx-padding: 28 0 10 19px;
    -fx-spacing: 50px;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

}

#cartHBoxTotals{
    -fx-pref-width: 184px;
    -fx-pref-height: 10px;
    -fx-padding: 8 0 10 19px;

}

#cartHboxMainButtons {
    -fx-pref-height: 122px;
    -fx-padding: 25 0 0 12px;
    -fx-spacing: 12px;
}

#cancelOrderButton, #cartOrderButton, #cartPayButton{
    -fx-background-radius: 15;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-pref-width: 93;
    -fx-pref-height: 71;
    -fx-border-width: 8px;
    -fx-border-radius: 5px;
}

#cancelOrderButton {
    -fx-background-color: #b00c2f;
    -fx-font-size: 13px;
    -fx-text-fill: #efe7e7;
    -fx-border-color: #6d1515;
}

#cancelOrderButton:pressed {
    -fx-background-color: #870924;
    -fx-font-size: 13px;
    -fx-text-fill: #efe7e7;
    -fx-border-color: #470d0d;
}

#cartOrderButton {
    -fx-background-color: #8e8a8a;
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-border-color: #494646;
}

#cartOrderButton:pressed {
    -fx-background-color: #6d6a6a;
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-border-color: #232222;
}

#cartPayButton {
    -fx-background-color: #000000;
    -fx-font-size: 20px;
    -fx-text-fill: #a9d316;
    -fx-border-color: #8aab17;

}

#cartPayButton:pressed {
    -fx-background-color: #3d3d3d;
    -fx-font-size: 20px;
    -fx-text-fill: #a9d316;
    -fx-border-color: #738e12;

}

#indexLeftVbox, #indexCenterVbox, #indexRightVbox {
    -fx-pref-height: 650;
}

#indexLeftVbox{
    -fx-pref-width: 317;

}

#indexCenterVbox {
    -fx-pref-width: 230;
    -fx-padding: 40 0 0 0;
}

#indexRightVbox {
    -fx-pref-width: 443;
    -fx-spacing: 30px;
    -fx-padding: 110 0 0 0px;
}

.indexClockLabel {
    -fx-padding: 200 0 0 110px;
    -fx-font-family: "Arial";
    -fx-font-size: 62px;
}



.indexDateLabel, .indexDayLabel {
    -fx-padding: 136 0 0 187px;
    -fx-font-size: 20px;
    -fx-font-style: italic;
}

.indexDayLabel {
    -fx-padding: 0 0 0 185px;
}

#indexSelectUser{
    -fx-font-size: 25px;
    -fx-padding: 54 0 0 55px;
    -fx-font-style: italic;
    -fx-text-alignment: left;
}

#indexScrollUpButton, #indexScrollDownButton{
    -fx-background-color: transparent;
    -fx-pref-width: 47px;
    -fx-pref-height: 62px;

}

#indexScrollUpButton {
    -fx-padding: 22 0 0 90px;
}
#indexScrollDownButton {
    -fx-padding: 40 0 0 90px;
}

#indexToggleButtonVbox {
    -fx-pref-height: 370px;
    -fx-spacing: 20px;
    -fx-padding: 40 0 0 50px;
}

.indexUserButton{
    -fx-background-color: #494646;
    -fx-border-width: 12px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-pref-width: 133;
    -fx-pref-height: 99;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-font-size: 18px;
    -fx-text-fill: #dbd6d6;
}

.indexUserButton:selected{
    -fx-background-color: #000000;
}

#indexPasswordField {
    -fx-background-color: #e9e7e7;
    -fx-background-radius: 10px;
    -fx-pref-width: 151px;
    -fx-pref-height: 68px;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #494646;
    -fx-prompt-text-fill: #494646;
}

#indexGridKeyboard{
    -fx-pref-width: 80px;
    -fx-pref-height: 250px;
}

.indexGridButton{
    -fx-background-color: #000000;
    -fx-font-size: 20px;
    -fx-text-fill: #e9e7e7;
    -fx-font-weight: bold;
    -fx-pref-width: 102px;
    -fx-pref-height: 20px;
    -fx-border-width: 2px;
    -fx-border-color: #494646;
    -fx-border-radius: 5px;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

.indexGridButton:focused{
    -fx-background-color: #494646;
}

.indexLoginButton{
    -fx-background-color: #000000;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-pref-width: 323;
    -fx-pref-height: 59;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-size: 15px;
    -fx-font-style: italic;
    -fx-text-fill: #dbd6d6;
}

/* SaleController IDs*/

#alertLabel {
    -fx-font-size: 22px;
    -fx-border-color: #bc1a1a;
    -fx-background-color: red;
    -fx-background-radius: 6px;
    -fx-text-fill: white;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 0 8 0 8;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-opacity: 0;
}

.tableToggleButton {
    -fx-pref-width: 120px;
    -fx-pref-height: 90px;
    -fx-background-color: black;
    -fx-background-radius: 15px;
    -fx-border-color: grey;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 34px;
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tableToggleButton:selected {
    -fx-pref-width: 120px;
    -fx-pref-height: 90px;
    -fx-background-color: black;
    -fx-background-radius: 15px;
    -fx-border-color: #8aab17;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 34px;
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tableUnavaliableToggleButton {
    -fx-pref-width: 120px;
    -fx-pref-height: 90px;
    -fx-background-color: red;
    -fx-background-radius: 15px;
    -fx-border-color: grey;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 34px;
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tableUnavaliableToggleButton:selected {
    -fx-pref-width: 120px;
    -fx-pref-height: 90px;
    -fx-background-color: red;
    -fx-background-radius: 15px;
    -fx-border-color: #8aab17;
    -fx-border-width: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 34px;
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#categoryButton {
    -fx-pref-width: 110px;
    -fx-pref-height: 90px;
    -fx-background-color: #8aab17;
    -fx-background-radius: 15px;
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-text-alignment: center;
}

#productButton {
    -fx-pref-width: 110px;
    -fx-pref-height: 90px;
    -fx-background-radius: 15px;
}

#productButtonLabels {
    -fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#productButtonViewHyperlink {
    fx-font-family: System, Arial, Verdana sans-serif;
    -fx-text-fill: #8aab17;
    -fx-font-size: 14px;
}

/* Pay View */
#payViewBIllPane {
    -fx-border-color: #8aab17;
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 12px;
}

#payViewMainPane {
    -fx-background-color: transparent;
}

#cashAmountLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.payViewNumPadButtons {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-color: black;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
}

.payViewNumPadButtons:pressed {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-color: #4c4c4c;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
}

.payViewBillText, .payViewBillTextTax, .payViewBillTextAmountDueText, .payViewBillTextCashText, .payViewBillTextChangeText {
     -fx-font-size: 16px;
     -fx-text-fill: grey;
    -fx-background-repeat: no-repeat;
 }
.payViewBillTextTax {
    -fx-background-image: url("images/tax_pay.png");
    -fx-pref-width: 51px;
    -fx-pref-height: 15px;
}
.payViewBillTextAmountDueText {
    -fx-background-image: url("images/amount_due_text.png");
    -fx-pref-width: 128px;
    -fx-pref-height: 14px;
}
.payViewBillTextChangeText{
    -fx-background-image: url("images/change_text.png");
    -fx-pref-width: 77px;
    -fx-pref-height: 15px;
}
.payViewBillTextCashText{
    -fx-background-image: url("images/cash_amount_text.png");
    -fx-pref-width: 99px;
    -fx-pref-height: 14px;
}

.payViewBillDigitsBold {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.payViewBillDigits {
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.payViewControlButtons {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-background-color: #8aab17;
    -fx-border-color: #494646;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-font-weight: bold;
}

.payViewControlButtons:pressed {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-background-color: #677f11;
    -fx-border-color: #2d2c2c;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-font-weight: bold;
}

#payViewInvalidCashLabel {
    -fx-font-size: 16px;
    -fx-padding: 1 1 1 2;
    -fx-border-color: #bc1a1a;
    -fx-background-color: red;
    -fx-background-radius: 6px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.HboxCash{
    -fx-pref-height: 27px;
    -fx-max-width: 160px;
    -fx-text-alignment: right;
}

.cartTable {
    -fx-background-color: transparent;
    -fx-spacing: 5px;
    -fx-table-cell-border-color: transparent;
}

.cartTable .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}

.cartTable .column-header-background{
    -fx-background-color: transparent;
}

/*.carTable .column-header-background .label{*/
    /*-fx-background-color: transparent;*/
    /*-fx-alignment: center;*/
    /*-fx-padding: 0px;*/
    /*-fx-font-size: 11px;*/
/*}*/

.cartTable .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5px 0;
}

.table-row-cell:selected .text{
    -fx-fill: #b00c2f;
}


.cartTable :focused{
    -fx-table-cell-border-color: transparent;
}

.cartTable :odd{
    -fx-background-color: transparent;
}

.cartTable :even{
    -fx-background-color: transparent;
}

.cartTable :empty {
    -fx-background-color: transparent;
}

/* Description View */

#descriptionPane {
    -fx-border-width: 6px;
    -fx-border-color: rgb(138, 171, 23);
    -fx-background-color: black;
}

#descriptionSeparator {
    -fx-background-color: rgb(73, 70, 70);
}

#descriptionProductNamePrice {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(233, 231, 231);
    -fx-font-size: 17px;
}

#descriptionProductDescription {
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(233, 231, 231);
    -fx-font-size: 13px;
}

#descriptionProductImage {
    -fx-alignment: center;
    /*-fx-content-display: center;*/
}